/* место для вашего кода */
@import url("global.css");

body {
  background-color: #f5f5f5;;
}

.content-section {
  width: 1440px;
  margin: auto;
}

.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  padding: 92px 49px 92px 51px;
  background-color: #fff;
}

.header__menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header__links-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
}

.header__links-list-item {
  list-style-type: circle;
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-decoration: underline;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  width: 100%;
}

.header__logo a {
  display: block;
  width: 100%;
}

.header__logo-image {
  height: auto;
}

.address {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 240px;
  line-height: 1.35;
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.header__address address {
  font-style: normal;
}



.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: 100% auto;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 165px 50px 50px;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.6;
  z-index: 1;
  background-color: #000;
  height: 100%;
  width: 100%;
  }

.cover__title {
position: relative;
z-index: 2;
opacity: 1;
color: #FFF;
font-family: Raleway;
font-size: 100px;
font-style: normal;
font-weight: 700;
line-height: 115%;
letter-spacing: normal;
text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  display: block;
  text-align: center;
}

.aligned-text_right {
  display: block;
  text-align: right;
}

.no-letter-spacing {
  letter-spacing: 30px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.cover__description {
  display: flex;
  justify-content: flex-end;
  gap: 78px;
  padding-top: 135px;
  align-items: center;
}

.cover__description-text {
position: relative;
z-index: 2;
color: #FFF;
text-align: center;
font-family: Raleway;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 127.273% */
text-transform: uppercase;
word-spacing: 15px
}

.bet-button {
position: relative;
z-index: 2;
padding: 12px 32px;
text-align: center;
font-family: Raleway;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
background-color: transparent;
color: #FFF;
border: 1px solid #FFF;
}
